@page
@model RoomsIndexModel
@{
    ViewData["Title"] = "Rooms";
    Layout = "/Pages/Shared/_Layout.cshtml";
}
<h2>Rooms</h2>
<p>
  <a asp-page="Create">Create room</a>
  </p>
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
  @foreach (var r in Model.Rooms)
  {
    <tr>
      <td>@r</td>
    </tr>
  }
  </tbody>
  </table>
